<div class="box">
  {{#if data}}
  <table>
    <thead>
      <tr>
        <th>Customer</th>

      </tr>
    </thead>
    <tbody>
      {{#each data}}
      <tr>
        <td>

          {{ firstName }} {{ lastName }}
        </td>
        <td>
          <button class="btn btn-primary" onClick="customerDisplayOrder('{{ id }}');">Shopping Order</button>
        </td>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
  {{else}}
  <p>No customers found</p>
  {{/if}}

  <tfooter>
    <tr>
      <td>
        <button class="btn btn-primary" onClick="newAdminCustomer()">add a new customer</button>
      </td>

    </tr>
  </tfooter>
</div>