<div>

	<div class="box">
		<button class="btn btn-primary" onClick="admin();">Admin Page</button>
	</div>
	<div class="box">
		<button class="btn btn-primary" onClick="customer();">Customer Page</button>
	</div>

</div>