<div>

	<div class="box">
		<button class="btn btn-primary" onClick="itemsView();">View all Items</button>
	</div>
	<div class="box">
		<button class="btn btn-primary" onClick="adminViewOrder();">Customer Orders</button>
	</div>

</div>